.slideshow {
    animation: 15s moveSlideshow alternate infinite;
}
@keyframes moveSlideshow {
    100% {
        transform: translateX(-66.6666%);
    }
}
.rounded-4xl {
    border-top-left-radius: 72px;
    border-top-right-radius: 72px;
}
.checkbox:checked {
    /* Apply class right-0*/
    right: 0;
}
.checkbox:checked + .toggle-label {
    /* Apply class bg-indigo-700 */
    background-color: #4c51bf;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* can be configured in tailwind.config.js */
.group:hover .group-hover\:block {
    display: block;
}
.hover\:w-64:hover {
    width: 45%;
}

/* NO NEED THIS CSS - just for custom scrollbar which can also be configured in tailwind.config.js*/
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #2d3748;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2b6cb0;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #1a202c;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
.filepond--credits {
    display: none;
}
.input-rating .stars {
    display: inline-block;
    vertical-align: top;
}

.input-rating .stars input[type="radio"] {
    display: none;
}

.input-rating .stars > label {
    float: right;
    cursor: pointer;
    padding: 0px 3px;
    margin: 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.input-rating .stars > label:hover,
.input-rating .stars > label:hover ~ label {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

.input-rating .stars > label:before {
    content: "\f006";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    color: #dadada;
    font-size: 24px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.input-rating .stars > label:hover:before,
.input-rating .stars > label:hover ~ label:before {
    content: "\f005";
    color: #ffb656;
}

.input-rating .stars > input:checked label:before,
.input-rating .stars > input:checked ~ label:before {
    content: "\f005";
    color: #ffb656;
}
